
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: verdana, helvetica, arial, serif;
    background-image: url("assets/pexels-markusspiske-1089438.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: white;
}
#header {
    background: black;
    height: 7vh;


    & ul {
        display: flex;
        list-style-type: none;
        height: 7vh;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 30px;
    }
}

.introduction {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 28px;

    & article {
        padding: 9px;
        border-radius: 20px;
        border-style: outset;
        width: 80%;
        height: 80%;
        background: linear-gradient(rgba(255, 255, 255, .7),
        rgba(255, 255, 255, .7)), url("./assets/thumb16.jpg");
        background-size: cover;
    }
}
.header_article{
    display: flex;
    justify-content: center;
}
.header_article{
    display: flex;
    justify-content: center;

    & h1 {
        font-size: 50px;
        font-family: Papyrus, fantasy;
        font-weight: 900;
        background-image: linear-gradient(180deg, black, transparent);
        -webkit-background-clip: text;
        color: transparent;
    }
}
.pxl_logo{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-top: solid 3px darkgray;
    border-bottom: solid 3px darkgray;
    align-items: center;
    height: 40px;
        & div{
            display: flex;
        }
        & p{
            font-family: Papyrus, fantasy;
        }
}
.pxl_logo1{
    height: 4vh;
}
.pxl_logo2{
    height: 4vh;
}
.fotocv{
    display: flex;
    height: 40vh;
    padding: 20px;
    border-radius: 40px;
}
.layout_article {
    columns: 3;
    display: flex;
    font-family: Papyrus, fantasy;
}
.collumns{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 8px;
}
.titel_section{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Papyrus, fantasy;
}
.experience-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.experience {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.resume {
    color: black;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.workList {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid;
}
.role > p {
    font-weight: bold;
}
.company > p{
    font-style: italic;
    font-weight: bold;
}
.period > p{
    font-size: 12px;
}
.ambafoto{
    height: 70vh;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 128, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.ambafoto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 128, 0, 0.3);
}
.template {
    display: grid;
    height: 65vh;
    padding: 20px 50px;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'header header header'
        'nav main aside'
        'footer footer footer';
}
table{
    grid-area: header;
    background-color: transparent;
    border: 2px solid darkgreen;
    width: 300px;
    text-align: center;
}
th, td {
    border: 1px solid darkgreen;
}
tr > th:first-child{
    background-color: silver;
}
tr:nth-child(odd){
    background-color: cyan;
}
tr:nth-child(even){
    background-color: white;
}

.footer {
    background-image: url("assets/footerBackgroundImage.jpg");
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: white;
    text-align: center;
    padding: 30px;
}

.to_top_image {
    font-weight: bold;
    background-image: url("assets/ArrowUpTrgNbvn.png");
    background-size: contain;
    height: 100%;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
}
.to_top {
    background-color: white;
    height: 40px;
    width: 40px;
}