* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: silver;
}
.first {
    display: flex;
    align-items: center;
}

.links {
    width: 75%;
    padding-right: 20px;
}
.rechts{
    width: 100%;
    padding-left: 20px;
    & ul{
        font-weight: bold;
        & p{
            font-weight: normal;
        }
    }
}
h1{
    justify-content: center;
    display: flex;
    margin: 10px;
}

h3{
    justify-content: center;
    display: flex;
    margin: 10px;
}
.show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.padding{
    padding-top: 4%;

    & p{
        padding: 10px;
    }
}
.competentie_scr{
    display: flex;
    justify-content: center;
}
.collumns   {
    float: left;
    width: 20%;
    & h2 {
        text-align: center;
    }
}
